Contest/.vs/Contest/FileContentIndex/1834105f-0e7e-4e0e-a6a6-2b6e8096a97d.vsidx
Contest/.vs/Contest/FileContentIndex/read.lock
Contest/.vs/Contest/v17/.suo
Contest/bin/Debug/net6.0/Contest.deps.json
Contest/bin/Debug/net6.0/Contest.dll
Contest/bin/Debug/net6.0/Contest.exe
Contest/bin/Debug/net6.0/Contest.pdb
Contest/bin/Debug/net6.0/Contest.runtimeconfig.json
Contest/obj/Contest.csproj.nuget.dgspec.json
Contest/obj/Contest.csproj.nuget.g.props
Contest/obj/Contest.csproj.nuget.g.targets
Contest/obj/project.assets.json
Contest/obj/project.nuget.cache
Contest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Contest/obj/Debug/net6.0/apphost.exe
Contest/obj/Debug/net6.0/Contest.AssemblyInfo.cs
Contest/obj/Debug/net6.0/Contest.AssemblyInfoInputs.cache
Contest/obj/Debug/net6.0/Contest.assets.cache
Contest/obj/Debug/net6.0/Contest.csproj.AssemblyReference.cache
Contest/obj/Debug/net6.0/Contest.csproj.BuildWithSkipAnalyzers
Contest/obj/Debug/net6.0/Contest.csproj.CoreCompileInputs.cache
Contest/obj/Debug/net6.0/Contest.csproj.FileListAbsolute.txt
Contest/obj/Debug/net6.0/Contest.dll
Contest/obj/Debug/net6.0/Contest.GeneratedMSBuildEditorConfig.editorconfig
Contest/obj/Debug/net6.0/Contest.genruntimeconfig.cache
Contest/obj/Debug/net6.0/Contest.GlobalUsings.g.cs
Contest/obj/Debug/net6.0/Contest.pdb
Contest/obj/Debug/net6.0/ref/Contest.dll
Contest/obj/Debug/net6.0/refint/Contest.dll
